@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Lora,serif;
}
body{
    background-color: #f7f6ee;
    -webkit-text-size-adjust: 100%;
}

.page-head .head-logo svg {
    width: 80%;
}
.navbar-nav {
    grid-area: a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    position: relative;
    padding: 3vw 5vw;
}
.nav-menu li {
    padding-left: 30px;
    padding-right: 30px
}
  .selected {
    border-bottom: 1px solid #232323;
  }
  .topnav a:hover {
    border-bottom: 1px solid #232323;
  
  }
  /* .topnav :active {
    border-bottom: 1px solid #232323;
  } */
   section.header .header {
    text-align: center;
    width: 100%;
}
section.header .header h1 {
    font-size: 4vw;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -.1px;
    position: relative;
    width: 100%;
    display: block;
}
 section.header .header p {
    width: 100%;
    font-size: 1.5vw;
}
 section.header .header p {
    margin-top: 1.3em;
}
.btn {
    font-family: Montserrat,sans-serif;
    outline: 0;
    border: 0;
    margin: 0;
    display: inline-block;
    padding: 0.7vw 2vw;
    font-size: 1.4vw;
    line-height: 1.5;
    font-weight: 500;
    color: #fff;
    background-color: #232323;
    border-radius: 60px;
    cursor: pointer;
}
 .header .btn:hover {
    background-color: #ffa7c1;
 }

section.header .header .btn {
    margin-top: 2em;
    margin-left: -4px;
    position: relative;
    z-index: 2;
}
section.header .banner {
    position: relative;
    margin-top: 0;
    background-image: url(https://www.snapsound.com/static/img/process-cloud-background.png);
    background-repeat: no-repeat;
    background-size: 87% auto;
    background-position: 100% 13%;
}
section.header .banner>div img {
    margin-top: 25%;
    -webkit-transform: unset;
    transform: unset;
}
section.header .banner>div img {
    position: relative;
    z-index: 2;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}
 .banner #loading {
    -webkit-animation: rotation 10s infinite linear;
}
@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(-1turn));
    }
    to {
            -webkit-transform: rotate(-1turn);
    }
}
.header .banner>div svg {
    position: absolute;
    left: 46vw;
    width: 7.5vw;
    z-index: 5;
    -webkit-animation: a 15s linear infinite;
    animation: a 15s linear infinite;
}
section.service-list .list {
    border-left: 1px solid #232323;
    list-style: none;
    padding-top: unset;
    padding-left: 3vw;
}
 section.service-list .list li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 5vw;
}
.service-list{
    padding-top: 10%;
}

 section.service-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: self-start;
    margin-top: 5vw;
    position: relative;
    width: 100%;
    padding-bottom: 40vw;
    background-image: url(	https://www.snapsound.com/static/img/process-bird.svg),url(https://www.snapsound.com/static/img/blue-dots-left-side-detail.gif);
    background-repeat: no-repeat;
    background-position: 500% 100%,0 50%;
    background-size: 95% auto,20% auto;

}
section.service-list {
    background-position: 200% 100%,0 50%;
    background-size: 85% auto,20% auto;
    margin-top: 7vw;
}
section.service-list .text h2 {
    font-size: 3vw;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -.1px;
    position: relative;
    text-align: right;
    width: 61%;
    display: block;
    margin-left: auto;
    margin-bottom: 0.5em;
}
section.service-list .text h2 {
    border-right-width: 4px;
    border-color:#232323;
}
section.service-list .list li svg {
    width: 5vw;
    margin-top: -1.9vw;
}

 section.service-list .list li>div h2 {
    font-size: 1.7vw;
    font-weight: 400;
    width: auto;
}
 section.service-list .list li>div p {
    font-size: 1.3vw;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 1em;
    width: auto;
}
section.service-list .text h2::after {
    content: "";
    width: 35px;
    height: 3px;
    background-color: #232323;
    position: absolute;
    bottom: -0.6em;
    right: 4px;
}
section.service-list .text p {
    font-size: 1.6vw;
    font-weight: 200;
    line-height: 1.5;
    letter-spacing: -.1px;
    width: 52%;
    text-align: right;
    margin-top: 3em;
    margin-left: auto;
}
section.service-list .text {
    padding-right: 6vw;
    margin-top: -8px;
}
 section.service-list .block {
    width: 50%;
    margin: unset;
}
 section.service-list .list {
    border-left: 1px solid #232323;
    padding-top: unset;
    padding-left: 3vw;
 }
 /* process text start  */







  section.process .text h2 {
    font-size: 3.4vw;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -.1px;
    margin-left: -35px;
    margin-top: 94px;
    position: relative;
    text-align: center;
    width: 100%;
    display: block;
    margin-bottom: 1.3em;
} 
   section.process .text h2::after {
    content: "";
    width: 35px;
    height: 3px;
    background-color: #232323;
    position: absolute;
    bottom: -0.6em;
    left: 32%;
}

 section.process .text p {
    text-align: left;
    font-size: 1.5vw;
    margin-left: 6%;
    padding-left: 20%;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -.1px;
    width: 100%;
    margin-top: 3em;
}  
section.process .text {
     width: 50%;
    margin-left: 24%;
 } 




/* process list start */


section.process-list {
    margin-top: 4vw;
}
 section.process-list ol {
    width: 78%;
    justify-content: space-between;
    flex-direction: row; 

}

 section.process-list li:first-child:before {
    background-image: url(image/number1.svg);
    background-repeat: no-repeat;
    background-position: 10% 80%;
    background-size: 81% auto;
}
 section.process-list li:before {
    font-size: 6vw;
    background-position: 10% 70%;
    background-size: 40% auto;
}
 section.process-list li:before {
    content: counter(a,decimal-leading-zero);
    display: block;
    border-bottom: 6px solid #232323;
    padding: 1em 0 0.3em;
    background-image: url(image/number2.svg);
    background-repeat: no-repeat;
    background-position: 10% 80%;
    background-size: 40% auto;
    font-size: 6vw;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -.1px;
 }

 section.process-list li:last-child:before {
    background-image: url(image/number3.svg);
    background-repeat: no-repeat;
    background-position: 10% 70%;
    background-size: 45% auto;
    
}
 section.process-list li h2 {
    font-size: 2vw;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -.1px;
    position: relative;
    text-align: left;
    width: 100%;
    display: block;
    margin-top: 1em;
}
    
 section.process-list li {
    width: 30%;
    counter-increment: a;
    margin-top: unset;
}
 section.process-list li p:last-child {
    border: none;
    padding-bottom: 0;
}

   

 section.process-list li p {
  font-size: 1.5vw;
    min-height: 12vw;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -.1px;
    width: 100%;
    text-align: left;
    margin-top: 1.5em;
    margin-left: auto;
    border-bottom: 1px solid #232323;
    padding-bottom: 1.5em;
}
section.process-list ol {
    list-style-type: none;
    display: flex;
    margin-left: 8%;

}



/* process list end */




.collage {
    padding-top: 0%;
}
.work {
    margin-left: -33%;
}

.work h2 {
font-weight: 400;
font-size: 2vw;
line-height: 1.2;
letter-spacing: -.1px;
position: relative;
text-align: left;
width: 100%;
display: block;
margin-top: 1em;
margin-bottom: 1.3em;
}
 .work h2::after {
    content: "";
    width: 35px;
    height: 3px;
    background-color: #232323;
    position: absolute;
    bottom: -0.6em;
    left: 1%;
 }

 .btne {
    margin-top: 13em;
    position: relative;
    color: #232323;
    background-color: #fff;
    border-radius: 60px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    margin-left: -56%;
    z-index: 1;
    padding: 0.7vw 2vw;
    font-size: 1.4vw;
    border: aliceblue

}
  .btne:hover {
    background-color: #232323;
    color:#fff;
    }

.page-foot {
        padding: 6vw 13vw 0vw;
      }
    


 .footer-content-logo {
    width: 21vw;
    text-align: left;
}

.footer-content-logo p {
    font-size: .9vw;
}
.footer-content-navigation h5 {
    font-size: 1.2vw;
    font-weight: 400;
    margin-left: 41%;
    line-height: 1.5;
    
}

 .footer-content {
    width: 100%;
    margin-top: 3em;
    padding: 0 11vw;
    align-items: unset;
    justify-content: space-between;
}

.footer-content-logo svg {
    width: 50%;
}
 .footer-content-navigation a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    margin-top: 0em;
    padding: 0 2vw;
}
.footer-content-navigation a {
    font-weight: 400;
    line-height: 1.8;
    color: #232323;
}
a {
    color: #232323;
}


.footer-content-navigation a {
    font-weight: 400;
    line-height: inherit;
}
.footer-content-navigation a{
    list-style: none;
}

  .selected {
    border-bottom: 1px solid #232323;
  }

  .footer-content-navigation a span:hover {
    border-bottom: 1px solid #232323;

  }
  /* .footer-content-navigation :active {
    border-bottom: 1px solid #232323;
  } */
 
.footer-content{
    padding-bottom: 10%;
}



