 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

 body {
   font-family: 'Inter', sans-serif;
 }

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 .main {
   background: linear-gradient(#f8f4f0, #DECBA4);
   width: 100%;
   height: 70vh;
   padding-top: 5%;
   text-align: center;
 }

 h1 {
   font-size: 3rem;
   word-wrap: break-word;

 }
 .rap {
  font-size: 16px;
 }

 p {
   font-size: 16px;
   line-height: 17px;
 }

 .waves {
   left: 0;
   bottom: 0;
   right: 0;
   width: 100%;
 }

 .main-img {
   width: 55%;

 }




 @media (max-width: 800px) {
   .main-img {
     width: 100%;
   }
   h6{
  padding-top: 10%;
   }

   h1 {
     font-size: 2rem;
     word-wrap: break-word;
   }
   .rap {
    font-size: 12px;
   }

   .same {
     display: flex;
     flex-direction: column-reverse;
   }
   .main {
  height: 32vh;
   }
   .row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
   }

 }